@use '../utils/variables';
@use '../utils/mixins';

.home-banner {
  background-color: variables.$bg-high-dark;
  color: white;

  padding-top: 75px;
  padding-bottom: 75px;

  @include mixins.desktop() {
    padding-top: 175px;
    padding-bottom: 123px;
  }

  &__subtitle {
    max-width: 237px;
    color: white;

    margin-bottom: 40px;

    @include mixins.desktop() {
      max-width: 100%;

    }
  }

  &__title {
    margin-bottom: 40px;

    @include mixins.desktop() {
      max-width: 662px;
    }
  }

  &__button {
    margin-bottom: 24px;

    @include mixins.desktop() {
      margin-right: 30px;

      display: inline-block;
    }

    &--outline {
      margin-bottom: 0;
    }
  }
}